<mat-card class="navbar navbar-light" style="background-color: #96A6FF;">
   
        <span class="navbar-brand" fxLayout="row">
            <img src="https://media.istockphoto.com/vectors/piggy-bank-with-coin-symbol-of-new-year-2019-vector-illustration-vector-id1080435824?k=20&m=1080435824&s=612x612&w=0&h=gMQQ5ZEucbBtkQi6Fe_zTmSFumeinnp6QySj4BAI_gc="
                 width="30"
                 height="30"
                 class=" icon d-inline-block align-top"
                 alt="loan-application-form-icon">
                 &nbsp; 
            <h3 class="header">Loan Application Form</h3>
        </span>
</mat-card>

