<div fxLayout="row" fxLayoutAlign="center center">
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>
  <mat-stepper  #stepper style="width:100%" [orientation]="(stepperOrientation | async)!">
    <mat-step>
      <ng-template matStepLabel>Enter loan details</ng-template>
      <ng-template matStepContent>
        <app-step-one></app-step-one>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill loan Repayment terms</ng-template>
      <ng-template matStepContent>
        <app-step-two></app-step-two>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm loan item details</ng-template>
      <ng-template matStepContent>
        <app-step-three></app-step-three>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enter Personal Details</ng-template>
      <ng-template matStepContent>
        <app-step-four></app-step-four>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <ng-template matStepContent>
        <app-step-summary (editSectionEvt)="editSection($event)" ></app-step-summary>
      </ng-template>
    </mat-step>
  </mat-stepper>


</div>